.all_wrong_answers_and_questions {
    display: inline-block;
}

.wrongAnswer{
    background-color: var(--red);
}

.rightAnswer{
    background-color: #98d8aa;
}

.otherAnswers{
    background-color: #fef9d7;
}