:root {
  --white: #F9F7F5;
  --black: #1D2022;
  --red: #FF6D60;
  --orange: #F7D060;
  --yellow: #F3E99F;
  --green: #98D8AA;
}


body {
  text-align: center;
  line-height: 1.5;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#1D2022;
  background-color:#F3E99F;
}