/* base styles */
html, body {
  height: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  font-size: 1.4em;
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  color: #333;
}

/*why do i need this?*/
:root {
  --white: #F9F7F5;
  --black: #1D2022;
  --red: #FF6D60;
  --orange: #F7D060;
  --yellow: #F3E99F;
  --green: #98D8AA;
}

